#Playlists {
    border: solid var(--border) 1px;
    border-radius: 5px;
    padding: 1rem;
}


.playlist-header {
    display: flex;

}

.button {
    margin-left: 1rem;
    border-radius: 0.5rem;
}