#Playlists {
    border: solid var(--border) 1px;
    border-radius: 5px;
    padding: 1rem;
}

.Pl-header {
    display: flex;
    flex-direction: row;
}

.edt-btn {
    margin: 1rem 0 0 1rem;
    height: 2rem;
}

.playlist-header {
    display: flex;

}

.button {
    margin-left: 1rem;
    padding: 0.15rem;
}