#searchbar {
    display: flex;
    justify-content: center;
    width: 75%;

}

#searchInput {
    padding: 0.5rem;
    width: 100%;


}

#import {
    margin-left: 1rem;

    border-radius: 0.5rem;
}