#root {

  height: 100%;


}

#app-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header header"
    "searchbar searchbar"
    "results playlist";

}


#header {
  grid-area: header;

  display: flex;

  align-items: center;
  padding: 1rem;
}

#searchbar {
  grid-area: searchbar;
  margin: auto;

}

#results {
  grid-area: results;
  padding: 1rem;


}

#playlist {

  grid-area: playlist;

  padding: 1rem;

}



button {
  padding: 0.5rem;
  color: var(--button-text);
  background-color: var(--button-bg);
  border: solid 1px var(--button-text);

  box-shadow: none;
}

input {
  color: var(--button-text);
  background-color: var(--button-bg);
  border: solid 1px var(--button-text);
  border-radius: 40px;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;



  border: solid 2px var(--button-text);
}