#root {

  height: 100%;


}

#app-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header header"
    "searchbar searchbar"
    "results playlist";

}


#header {
  grid-area: header;

  display: flex;

  align-items: center;
  padding: 1rem;
}

#searchbar {
  grid-area: searchbar;
  margin: auto;

}

#results {
  grid-area: results;
  padding: 1rem;


}

#playlist {

  grid-area: playlist;

  padding: 1rem;

}