:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
  --card: #2f2f2f;
  --border: rgba(255, 255, 255, 0.15);
  --button-bg: #3a3a3a;
  --button-text: var(--text);
}


:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #213547;
  --card: #f6f6f6;
  --button-text: rgba(0, 0, 0, 0.12);
  --button-bg: #f0f0f0;
  --button-text: #213547;
  --border: black;
}


body {
  background: var(--bg);
  color: var(--text);
}



#root {
  min-height: 100vh;
  background: var(--bg);
}

html,
body,
#root {
  background: var(--bg);
  color: var(--text);
  width: 100%;
  min-height: 100vh;
  margin: 0;
}